.md_container {
    max-width: 1650px;
    margin: auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-family: 'Work Sans', sans-serif;
}

/* ============== header section ================ */
.header_section {
    background-color: rgba(17, 14, 10, .3);
    position: absolute;
    width: 100%;
}

.header_section .logo_img img {
    width: 65%;
}

.header_section .main_menu ul {
    text-align: right;
    margin-bottom: 0px;
}

.header_section .main_menu ul li {
    display: inline-block;
    padding: 22px 30px 35px 30px;
    position: relative;
}

.header_section .main_menu ul li::after {

    content: "";
    position: absolute;
    background-color: #c69453;
    top: 96%;
    right: 50%;
    width: 0%;
    height: 3px;
    transition: all .4s;

}

.header_section .main_menu ul li:hover::after {
    width: 0;
    transition: all .4s ease;
    width: 50%;
}


.header_section .main_menu ul li::before {
    content: "";
    position: absolute;
    background-color: #c69453;
    top: 96%;
    left: 50%;
    width: 0%;
    height: 3px;
    transition: all .4s;
}

.header_section .main_menu ul li:hover::before {
    width: 0;
    transition: .4s ease;
    width: 50%;
}

.header_section .main_menu ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: all .4s;
    font-weight: 400;
}

.header_section .main_menu ul li:hover>a {
    color: #c69453;
}

.header_section .main_menu ul li a:hover {
    color: #c69453;
}

.header_section .main_menu ul li:first-child a {
    color: #c69453;
}

/* DROP DOWN MANU */

.header_section .main_menu ul li ul {
    position: absolute;
    top: 82%;
    left: 0;
    width: 345px;
    text-align: left;
    padding-left: 0px;
    background-color: #fff;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all .4s;
    transform: scaley(0);
    transform-origin: center center;
}

.header_section .main_menu ul li:hover ul {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.header_section .main_menu ul li ul li {
    display: block;
    padding: 21px;
    transition: all .4s;

    text-align: center;
    /*! width: 289px; */
}

.header_section .main_menu ul li ul li a,
.header_section .main_menu ul li ul li:first-child a {
    color: black;
    transition: all .3s;
}

.header_section .main_menu ul li ul li:hover {
    background-color: #d9d8da;
}

.header_section .main_menu ul li ul li a:hover {
    color: #c69453;
}

.header_section .main_menu ul li ul li:hover::before {
    width: 0;
    transition: .4s ease;
    width: 0%;
    visibility: hidden;
    opacity: 0;
}

.header_section .main_menu ul li ul li:hover::after {
    width: 0;
    transition: all .4s ease;
    width: 0%;
    visibility: hidden;
    opacity: 0;
}

/* ============== banar section================  */
.banar_section {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(95, 46, 46, 0.6)), url(https://i.ibb.co/dDfSS4S/ia-200000019.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px;
}

.banar_section .banar_contant {
    color: #fff;
}

.banar_section .banar_contant h1 {
    font-size: 100px;
    font-weight: bold;
}

.banar_section .banar_contant h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 55px 0px;
    position: relative;
}

.banar_section .banar_contant h2::before {

    content: "";
    position: absolute;
    top: 26px;
    left: 280px;
    width: 90px;
    height: 2px;
    background-color: #fff;
}

.banar_section .banar_contant h2::after {

    content: "";
    position: absolute;
    top: 26px;
    right: 280px;
    width: 90px;
    height: 2px;
    background-color: #fff;
}

.banar_section .banar_contant a {
    color: white;
    background-color: #c69453;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 30px;
    font-size: 19px;
    transition: all .4s;
}

.banar_section .banar_contant a:hover {
    background-color: #fff;
    color: #c69453;
    transition: all .4s;
}

/* ============== ITEM_SECTION================ */
.item_section {
    padding: 100px;
    background-color: #f8f8f8;
}


.item_section .iteam_wrapper {
    background-color: #ffffff;
    padding: 20px;
    transition: all .4s;
}


.item_section .iteam_wrapper img {
    width: 40%;
    transition: all .4s;
}

.item_section .iteam_wrapper h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
}

.item_section .iteam_wrapper p {
    font-size: 17px;
    font-weight: 300;
    color: #000000d6;
    margin: 20px 0px;
}

.item_section .iteam_wrapper a {
    color: white;
    text-decoration: none;
    background-color: #c69453;
    padding: 8px 18px;
    display: inline-block;
    border-radius: 6px;
    font-size: 17px;
    margin: 20px;
    transition: all 0.6s;
}

.item_section .iteam_wrapper:hover {
    background-color: #e9e6e6;
}

.item_section .iteam_wrapper:hover img {
    transform: rotateY(360deg);
    transition: all .4s;
}

.item_section .iteam_wrapper:hover a {
    background-color: #fdfcfe;
    color: #c69453;
}

.item_section .iteam_wrapper a:hover {
    background-color: #000000;
    color: #ffffff;
    transform: translate(0px, 20px);
}

/* ============== blog section ================  */
.blog_section {
    padding: 100px;
    background-color: #f8f8f8;
}

.blog_section .blog_wrapper {
    padding: 0px 20px;
}

.blog_section .blog_wrapper h2 {
    font-size: 44px;
    font-weight: 600;
}

.blog_section .blog_wrapper h2 span {
    color: #c69453;
}

.blog_section .blog_wrapper p {
    padding: 13px 0px;
    font-weight: 300;
    margin-top: 15px;
    line-height: 1.7;
}

.blog_section .blog_wrapper a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 31px;
    transition: all .4s;
}
.blog_section .blog_wrapper a:hover{
   background-color: #c69453;
}

/* ============== contuct section ================ */
.contact_section {
    padding: 100px 0px;
    background-color: #f8f8f8;
    background-image: url(https://i.ibb.co/zrtz29h/ia-200000022.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
}

.contact_section h2 {}

.contact_section p {
    margin: 40px 0;
}

.contact_section .contact_form {}

.contact_section .contact_form {}

.contact_section img {}

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    outline: none;
    border: none;
    border: 2px solid #ddd;
}

textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: none;
    border: 2px solid #ddd;
    outline: none;
}

input[type="submit"] {
    width: 140px;
    background-color: #c69453;
    color: #fff;
    outline: none;
    border: none;
}

input:focus, textarea:focus{
    border: 2px solid#000;
    border-radius: 6px;
}

/* ============== footer section ================ */
.footer_section {
    background-color: #6d6d6d;
    padding: 10px;
}

.footer_section p {

    color: white;
    line-height: 3.5;
    margin-bottom: 0px;
    color: #ababab;
}

.footer_section ul {
    margin-bottom: 0;
}

.footer_section ul li {
    display: inline-block;
}

.footer_section ul li a {
    display: block;
    padding: 7px 16px;
    color: #ababab;
}

.footer_section ul li a:hover {}